body, html{
    background-color: #007A7F;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

}

body{
    background-image: url("img/spineforhayes.jpg");
    justify-content: center;

}
img {
    height: 50px;
    width: 65px;
}
.container{
    width: 70%;
    height: 90%;
    /*background-color: #f7f6ff;*/
    margin: 25px auto;
}
.navagation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    overflow: hidden;
    background-color: #00B7BF;

}
.navagation a {
    float: left;
    color: #003D40;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
}
.navagation a:hover {
    background-color: #00F4FF;
    color: black;
}
.navagation a.active {
    background-color: lightcyan;
    color: white;
}
.title{
    color: #333333;
}
.title{
    display: flex;
    justify-content: space-between;
}
#logo {
    width:45px;
    height: 35px;
}
#familyPic{
    width:400px;
    height: 250px;
    align-items: center;
}
#building{
    width:200px;
    height: 140px;
}
.bottom{
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
}