.navagation {
    overflow: hidden;
    background-color: #333;
}
.navagation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 12px;
}
.navagation a:hover {
    background-color: yellow;
    color: black;
}
.navagation a.active {
    background-color: purple;
    color: white;
}
.title{
    color: #333333;
}
body {
    background-color: lightcyan;
}